{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'landingpage/css/loading.css' %}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'landingpage/js/behaviour.js' %}"></script>
</head>

<body>
    <div class='loader'></div>

    <div class="jumbotron" id='header' style='background-color:#4bd1e6'>
        <h2 class="display-4">Hello, Apa kabar?</h2>
    </div>

    <div style='text-align: center'>
        <button type='button' id='changetheme' type='button' style='color:white; background-color:green;' class='btn btn-info' onclick='changeTheme()'>
        Change Theme</button>
    </div>

    <br>
    <div id="accordion" style='width: 50%; margin:auto'>
        <h3>Aktivitas</h3>
        <div>
            <ul>
                <li>Kuliah</li>
                <li>Ngoding</li>
                <li>Olahraga</li>
            </ul>
        </div>
        <h3>Organisasi dan Kepanitiaan</h3>
        <div>
            <ul>
                <li>FUKI Fasilkom UI</li>
                <li>Ristek Fasilkom UI</li>
                <li>Social Project Sospol FUKI</li>
            </ul>
        </div>
        <h3>Prestasi</h3>
        <div>
            <ul>
                <li>Finalist Vocompfest ICPC Provincial Contest</li>
                <li>Finalist Maranatha ICPC Provincial Contest</li>
                <li>Finalist ICPC Regional Asia Jakarta</li>
            </ul>
        </div>
    </div>

    <div style='margin:auto; padding: 10px; width: 50%'>
        <form id="form" method="POST" action="{% url 'landingpage:post_status' %}">
            {% csrf_token %}
            <div class="form-group">
                <h5>Update Status:</h5>
                {{ status_form }} 
            </div>
            <button id="profil" type="button" class="btn btn-info" type='submit' style='width:20%;float:left;'><a href="/landingpage/profil" style='text-decoration: none; color:white;'>My Profil</a></button>
            <div style='float:right'><button id="submit" form='form' class="btn btn-success">Post</button></div>
        </form>
        <br><br>
            {% for status in status_list %}
            <div class='card'>
                <div class='card-header' style='text-align: right; background-color:#4bd1e6; font-weight:bold'>
                    {{status.datetime|date:"l"}}, {{status.datetime}}
                </div>
                <div class='card-body'>
                    <p class='card-text'>{{status.status}}</p>
                </div>
            </div>
            <br>
            {% endfor %}
    </div>
</body>
</html>