<!DOCTYPE html>
<html>
<head>
    <title>My Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .nav.navbar-nav li a {
            color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-default" style='background-color:#4bd1e6; font-size: 18px'>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" style='color:black' href="#">Halo Apa Kabar?</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="/landingpage">Status</a></li>
                <li><a href="/list_buku">Daftar Buku</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#form"><span class="glyphicon glyphicon-user"></span> Subscribe</a></li>
            </ul>
        </div>
    </nav>
    <h2 style="text-align:center">My Profile</h2>
    <div class='text-center' style='height: 90vh'>
        <img src="http://ppw-b-addffasilkom.herokuapp.com/static/profil/image.jpg" alt="Adli" style="width:30%; margin:auto">
        <h1 style='text-align:center'>Mohammad Adli</h1>
        <p style='text-align:center'>Saya seorang Mahasiswa Fakultas Ilmu Komputer dari Universitas Indonesia. Saya Merupakan programmer web junior. Ini merupakan website pertama saya. Enjoy it:)</p>
    </div>
    
    <div class='container' style='height: 100%;width: 100%;background-color: #4bd1e6;'>
        <br><br><br>
        <form id="form" method="POST">
            <h2 class='text-center'>Subscribe Me:</h2>
            <div class="form-group text-left" style='width:50%; margin: auto'>
                {% csrf_token %}
                <script type="text/javascript">
                    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
                </script>
                {{ form }} 
            </div>
        </form>
        <br>
        <div class='text-center'><button class='btn btn-success' disabled id='id_button'>Submit</button></div>
        <br><br>
        <div>
        <table class="table table-primary table-hover table-bordered" style="background-color: white">
            <thead class='text-center' style="background-color: white">
                <tr>
                    <th class='text-center'>Subscribers</th>
                    <th class='text-center'>Unsubscribe</th>
                </tr>
            </thead>
            <tbody id="list_subscribers">
            </tbody>
        </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript">

        show();
        function show() {    
            $.ajax({
                url: '/landingpage/list-subscribers',
                success: function(data) {
                    var output = '';
                    for(var i = 0; i <= data.subscribers.length; ++i) {
                        output += '<tr><td class="text-center"><b>' + data.subscribers[i] + '</b></td>';
                        output += "<td class='text-center'><button class='btn btn-danger'>Unsubscribe</button></td>" + '</tr>';
                    }
                    $('#list_subscribers').html(output);
                }
            });
            
            var xhr = new XMLHttpRequest();
            xhr.open(this.mehtod, this.url, true);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);

            function csrfSafeMethod(method) {
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        }

        $('<p id="info_email" class="text-right"><b></b></p>').insertAfter('#id_email');
        $('<p></p>').insertAfter('#id_nama');
        
        $('#form').keyup(function(e){
            if(e.keyCode == 13) {
                $('#id_button').click();
            }
        })

        $('#id_button').click(function() {
            var nama = $('#id_nama');
            var email = $('#id_email');
            var password = $('#id_password');
            $.ajax({
                method: 'POST',
                url: '/landingpage/subscribe',
                data: { nama: nama.val(),
                        email: email.val(),
                        password: password.val()
                },
                success: function(msg) {
                    nama.val('');
                    email.val('');
                    password.val('');
                    $('#info_email b').html('');
                    alert(msg.message);
                    show();
                }
            })
        })

        function isEmail(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }

        $('#id_email').keyup(function() {
            var email = $('#id_email').val();
            if(!isEmail(email)) {
                if(email === '') $('#info_email b').html('');
                else $('#info_email b').html('Format email tidak valid');
            } else {
                $.ajax({
                    method: "POST",
                    url : '/landingpage/email-checker',
                    data: { email: $('#id_email').val()},
                    success: function(msg) {
                        $('#info_email b').html(msg.message);
                    }
                });
            }
        });

        $('#id_nama, #id_email, #id_password').bind('keyup', function() {
            if(allFilled()) $('#id_button').removeAttr('disabled');
            else $('#id_button').attr('disabled', 'true');
        });

        function allFilled() {
            var filled = true;
            $('body input').each(function() {
                if($(this).val() == '') filled = false;
            });
            if(!isEmail($('#id_email').val()) || $('#info_email b').html() != 'Ok') filled = false;
            return filled;
        }

    </script>

</body>
</html>