<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Daftar Buku</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="jumbotron" id='header' style='background-color:#4bd1e6'>
        <h2 class="display-4">Daftar Buku</h2>
    </div>

    {% if not user.is_authenticated %}
    <div class='text-center'>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
    </div>
    {% else %}
    <div class='text-center'>
        <h2>Selamat datang, {{user.first_name}} {{user.last_name}}</h2>
        <a href="{% url 'list_buku:logout-auth'%}">Logout</a>
    </div>
    <br>
    <div style='text-align: center'><h2 id='fav'>Jumlah favorit: {{fav}}</h2><div>

    <div class="col-lg-4 col-md-12">
        <div class="input-group">
            <input type="text" class="form-control" id="input_search">
            <div class="input-group-append">
                <button class="btn" id="search_button">Search</button>
            </div>
        </div>
    </div>

    <br>
    <table class="table table-primary table-hover table-bordered">
        <thead class='text-center' style="background-color: #4bd1e6">
            <tr>
                <th style='width: 12%'>Judul</th>
                <th style='width: 13%'>Info</th>
                <th style='width: 25%'>Derkripsi</th>
                <th style='width: 6%'>Favorite</th>
            </tr>
        </thead>
        <tbody id='list_buku'>
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript">

        var total = 0;
        var stars_on = '/static/list_buku/stars_on.png';
        var stars_off = '/static/list_buku/stars_off.png'

        function show(books) {
            var books_now = "";
            if(!books.items) {
                $('#fav').html('Not Found');
                return;
            }
            for(var id = 1; id <= books.items.length; ++id) {
                var book = books.items[id-1]['volumeInfo'];
                var col1 = "<td class='text-center'>";
                var col2 = "<td class='text-left'>";
                var col3 = "<td class='text-justify'>";
                var col4 = "<td class='text-center'>";
                var stid = books.items[id-1]['id'];
                var na = 'Tidak Diketahui';
                var no = 'Tidak Ada Derkripsi';

                if(book['imageLinks']) {
                    col1 += "<img src='" + book['imageLinks']['thumbnail'] + "'><br>";
                } else {
                    col1 += "<img src='' alt='unkown'><br>";
                }
                col1 += "<b>" + (book['title'] ? book['title'] : na) + "</b></td>";

                col2 += "<p><b>Penulis</b> : " + (book['authors'] ? book['authors'] : na) + "</p>";
                col2 += "<p><b>Penerbit</b> : " + (book['publisher'] ? book['publisher'] : na) + "</p>";
                col2 += "<p><b>Tahun Terbit</b> : " + (book['publishedDate'] ? book['publishedDate'] : na) + "</p></td>";

                col3 += (book['description'] ? book['description'] : no) + "</td>";

                if(book['star'] == 1) col4 += "<img id='" + stid + "' src='" + stars_on + "'";
                else col4 += "<img id='" + stid + "' src='" + stars_off + "'";
                stid = '"' + stid + '"';
                col4 += "style='width:25%' onclick='fav("+ stid +")'></td>";

                books_now += "<tr>" + col1 + col2 + col3 + col4 + "</tr>";
            }
            $('#list_buku').html(books_now);
        }

        $.ajax({
            url: '/list_buku/books',
            success: function(books) {
                show(books);       
            }
        });

        $('#search_button').click(function() {
            var target = '/list_buku/books?search=' + $('#input_search').val();
            $.ajax({
                url: target,
                success: function(books) {
                    show(books);
                }
            })
        });

        function fav(id) {
            var now = $('#' + id);
            if(now[0].src.includes(stars_off)) {
                $.ajax({
                    url: '/list_buku/add_fav',
                    data: {id_buku:id},
                    success: function(res) {
                        total = res.fav;
                        now[0].src = stars_on;
                        $('#fav').html('Jumlah favorit: ' + total);
                    }
                })
            } else {
                $.ajax({
                    url: '/list_buku/del_fav',
                    data: {id_buku:id},
                    success: function(res) {
                        total = res.fav;
                        now[0].src = stars_off;
                        $('#fav').html('Jumlah favorit: ' + total);
                    }
                })
            }
            $('#fav').html('Jumlah favorit: ' + total);
        }

    </script>
    {% endif %}

</body>
</html>